* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: #333333;
    color: white;
}

h1,
h2,
h3 {
    color: rgb(54, 53, 53);
    margin: 1em;
}

h1 {
    text-transform: uppercase;
}

h3,
h4 {
    font-weight: 400;
}

// @import '';